.custom__button {
  min-width: 160px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 10px 0 10px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #016700;
  color: #fdfdfd;
  text-transform: uppercase;

  border: none;
  cursor: pointer;

  &:hover {
    background-color: #fdfdfd;
    color: #016700;
    border: 1px solid #016700;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: #fdfdfd;

    &:hover {
      background-color: #fdfdfd;
      color: #357ae8;
      border: none;
    }
  }
}
