.custom__button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #016700;
  color: #fdfdfd;
  text-transform: uppercase;

  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #fdfdfd;
    color: #016700;
    border: 1px solid #016700;
  }
}
